$museo: "Museo300Regular" - serif;
$museoSlab: "museo_slab500" - serif;

body {
  font-size: 62.5%; /* font-size 1em = 10px */
  font-size: 10px !important;
}

.wrapper {
  width: 100%;
}

.header {
  padding-top: 20px;
  text-align: center;
}

.main-nav {
  float: left;
}

.logo {
  display: inline-block;
  margin: 0 auto;
  width: 100%;
  a {
    background: url('/images/logo.png') top center no-repeat;
    width: 298px;
    height: 80px;
    display: inline-block;
    text-indent: -9999px;
  }
}

.user-action-nav {
  float: right;
}

.head-nav {
  margin-top: -70px;
  li {
    float: left;
    list-style-type: none;
    a {
      padding: 0 10px;
    }
  }
}

.slogan {
  h2 {
    font-family: $museo;
    font-size: 1.6em;
    font-weight: normal;
    color: #959595;
  }
}

.banner.row {
  margin-top: 10px;
  margin-bottom: 1px;
  width: 100%;
  background: url('/images/banner-bg-edit.jpg') no-repeat center 0px fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 380px;
  .text {
    font-family: $museo;
    background: #222;
    color: #fafafa;
    padding: 8px 15px 7px;
    float: left;

    &.large {
      font-family: $museoSlab;
      font-size: 2.6em;
      line-height: 1.2;
      margin-top: 8%;
      margin-left: 15%;
    }
    &.small {
      clear: left;
      font-size: 1.6em;
      line-height: 1.1;
      margin-left: 15%;
    }
  }
}

.restaurants {
  float: left;
  border-top: solid 1px #ddd;
  padding-bottom: 40px;
  background: #efefef;
  text-align: center;
  .heading {
    font-family: $museo;
    margin-top: 30px;
    margin-bottom: 40px;
    h3 {
      font-family: $museoSlab;
      font-weight: normal;
      font-size: 1.8em;
    }
    span {
      font-size: 1.2em;
      color: #667;
    }
  }
}

.restaurant {
  font-family: $museo;
  text-align: left;
  img {
    background: #fff;
    padding: 5px;
    border: solid 1px #ddd;
  }
  h4 {
    font-family: $museoSlab;
    font-weight: normal;
    font-size: 1.3em;
  }
  .location-item-count {
    padding-bottom: 5px;
    .location {
    }
    .item-count {
      font-style: italic;
    }
  }

  .description {
    p {
      line-height: 1.2;
    }
  }
}

.restaurant-map {
  margin: 0;
  border-top: solid 1px #dedede;
  border-bottom: solid 1px #dedede;
  float: left;
  height: 350px;
  overflow: hidden;
  padding: 0;
  position: relative;
  .heading {
    padding: 0;
    margin: 0;
    position: absolute;
    width: 100%;
    text-align: center;
    z-index: 1;
    h3 {
      margin: 0;
      color: #fff;
      background: #222;
      display: inline-block;
      padding: 10px 20px;
    }
  }
}

#map {
  height: 350px;
}

.footer {
  padding-top: 40px;
  padding-bottom: 60px;
  clear: both;
  background: #ececec;
  .footer-logo {
    padding-top: 20px;
    padding-left: 0;
    margin-left: 0;
    p {
      margin-top: 30px;
    }
  }
  .info {
    padding-top: 10px;
  }
}