html {
  background: url(images/bg-items2.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

body {
  font-family: "Open Sans", sans-serif;
  font-size: 62.5% !important;
  position: relative;
  background: transparent; }

.row {
  width: 1000px; }

.wrapper {
  position: relative;
  z-index: 999;
  width: 100%;
  -webkit-transition: margin-left .45s ease-in-out;
  -moz-transition: margin-left .45s ease-in-out;
  -o-transition: margin-left .45s ease-in-out;
  transition: margin-left .45s ease-in-out; }
  .wrapper.slide {
    margin-left: -35%;
    -webkit-transition: margin-left .45s ease-in-out;
    -moz-transition: margin-left .45s ease-in-out;
    -o-transition: margin-left .45s ease-in-out;
    transition: margin-left .45s ease-in-out; }

h1, h2, h3, h4, h5 {
  font-family: "Open Sans", sans-serif; }

.block {
  display: block; }

.button {
  background: #222;
  color: #fafafa;
  font-weight: 500;
  font-size: .9em;
  padding: 8px 12px;
  border-radius: 2px; }

.header {
  height: 200px; }
  .header .header-bg {
    display: none;
    width: 100%;
    position: fixed;
    top: -40px;
    z-index: 0;
    left: 0%;
    -webkit-transition: left .45s ease-in-out;
    -moz-transition: left .45s ease-in-out;
    -o-transition: left .45s ease-in-out;
    transition: left .45s ease-in-out; }
    .header .header-bg.bg-slide {
      left: -35%;
      -webkit-transition: left .45s ease-in-out;
      -moz-transition: left .45s ease-in-out;
      -o-transition: left .45s ease-in-out;
      transition: left .45s ease-in-out; }
  .header .logo {
    margin-top: 40px; }

.main-nav {
  margin-top: 30px; }
  .main-nav li {
    list-style-type: none;
    display: inline-block; }
    .main-nav li a {
      padding: 10px;
      color: #fff;
      font-weight: 800;
      text-transform: uppercase;
      font-size: 1.1em; }

.content {
  margin-top: 30px;
  position: relative;
  z-index: 10;
  background: #fefefe;
  border: solid 1px #ccc; }

.menus-nav {
  margin-top: 20px;
  text-align: right; }
  .menus-nav li {
    list-style-type: none;
    font-style: italic;
    font-family: "Georgia", serif; }
    .menus-nav li a {
      font-size: 1.4em;
      color: #222;
      padding: 10px 0;
      display: block;
      padding-right: 50px; }
      .menus-nav li a:hover {
        cursor: pointer; }

.item-info {
  float: left; }
  .item-info .image-price {
    position: relative; }
    .item-info .image-price img {
      width: 100%;
      background: #fff;
      padding: 2px;
      border: solid 1px #ddd;
      border-radius: 50em; }
    .item-info .image-price span {
      background: #222;
      padding: 7px 8px;
      color: #fefefe;
      display: block;
      position: absolute;
      z-index: 100;
      right: 0;
      bottom: 20px;
      font-size: 1.3em; }
  .item-info .title {
    font-weight: 500;
    margin-top: 5px;
    font-size: 1.2em;
    line-height: 1.3; }
  .item-info .description p {
    margin-top: -3px;
    font-size: .9em; }
  .item-info .quantity-order {
    overflow: hidden; }
    .item-info .quantity-order .quantity {
      float: left;
      width: 30px;
      margin-right: 10px; }
    .item-info .quantity-order .add-item {
      float: right; }

.order.row {
  border: solid 2px red;
  overflow: hidden;
  background: #222;
  border: solid 20px;
  position: absolute;
  width: 35% !important;
  min-width: 0 !important;
  z-index: 10;
  top: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: opacity .45s ease-in-out;
  -moz-transition: opacity .45s ease-in-out;
  -o-transition: opacity .45s ease-in-out;
  transition: opacity .45s ease-in-out; }
  .order.row.visible {
    opacity: 1;
    -webkit-transition: opacity .45s ease-in-out;
    -moz-transition: opacity .45s ease-in-out;
    -o-transition: opacity .45s ease-in-out;
    transition: opacity .45s ease-in-out; }
  .order.row .my-order .label {
    float: left; }
  .order.row .my-order .value {
    float: right; }
  .order.row .my-order .modify {
    clear: both; }

.header {
  overflow: hidden; }

.logo {
  float: left; }

.main-nav {
  float: right; }

.menu-title {
  margin-bottom: 20px;
  text-align: center; }
  .menu-title h2 {
    text-transform: uppercase;
    font-weight: 300;
    font-size: 3.5em; }
  .menu-title h3 {
    font-family: "Georgia", serif;
    font-style: italic;
    font-weight: 300;
    font-size: 1.3em;
    text-transform: lowercase; }

.order-item {
  list-style-type: none;
  padding: 5px 0;
  border-bottom: solid 1px #eee;
  overflow: hidden;
  color: #fefefe; }
  .order-item .order-item-info {
    float: left;
    width: 75%; }
    .order-item .order-item-info .item-title {
      font-size: 1.1em;
      font-weight: bold; }
    .order-item .order-item-info .item-quantity-price {
      font-size: .9em; }
  .order-item .order-item-price {
    width: 25%;
    text-align: right;
    float: right;
    background: #eee; }
