<!DOCTYPE HTML>
<html itemscope itemtype="http://schema.org/Organization">
<head>
  <title>Beary-Hungry:  The online restaurant store</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link href='https://s3.amazonaws.com/bearlyhungry/favicon+(5).ico' media='screen' rel='shortcut icon' />
  <link href='https://s3.amazonaws.com/bearlyhungry/favicon+(5).ico' media='screen' rel='icon' />
  
  <script   type="text/javascript" src="./main.js" charset="utf-8"></script>
  <script   type="text/javascript" src="./compressed.js" charset="utf-8"></script>
  <link rel="stylesheet" type="text/css" href="./template.css" />
</head>

<body>
  <header id="navigation">
    <nav id="mainNavigation">
      <ul>
        <li><a href="/login" class="active"></a></li>
        <li><a href="/" class=""></a></li>
      </ul>
    </nav>
    <a itemprop="url" href="https://s3.amazonaws.com/bearlyhungry/logo.png" id="logo"><img itemprop="logo" src="https://s3.amazonaws.com/bearlyhungry/logo.png" height="60" width="233" /></a>
    <nav id="metaNavigation">
      <ul>
      
        <li class="login"><a href="/login">Login</a></li>
        <li class="getStarted"><a href="/r">Sign Up</a><span>Your online restaurant</span></li>
      
      </ul>
    </nav>
  </header>
  <section id="content">
    
  <section id="templates">
    <h1>Beary Hungry Restaurants</h1><br />
    <hr />
    <h2>
      View one of the many restaurants that have created a site with us.
    </h2>
    
<form action="/templates" method="POST">
    
</div>
<hr>
 <h1>Recent Restaurants:</h1><br />
  <div class="themes">
    
    <div class="theme">
      <div class="image">
        <div class="imageWrapper">
            
          <img src="https://s3.amazonaws.com/bearlyhungry/mcdon.jpg" height="400" width="600" />
          <a href="/mcdonalds" class="startWith registerLink">
            <span class="startHere">Order here</span>
            <span class="description">Create your own Online Ordering System</span>
          </a>
        </div>
      </div>
      <div class="details">
        <span class="name">McDonalds</span>
        
          <a href="/mcdonalds" target="_blank" class="preview">Eat Here</a>
        
      </div>
    </div>
    
    <div class="theme">
      <div class="image">
        <div class="imageWrapper">
            
          <img src="https://s3.amazonaws.com/bearlyhungry/burgerking.png" height="400" width="600" />
          <a href="/burgerking" class="startWith registerLink">
            <span class="startHere">Start here</span>
            <span class="description">Create your own Online Ordering System</span>
          </a>
        </div>
      </div>
      <div class="details">
        <span class="name">Burger King</span>
        
          <a href="/burger-king" target="_blank" class="preview">Eat Here</a>
        
      </div>
    </div>
    
    <div class="theme">
      <div class="image">
        <div class="imageWrapper">
          <img src="https://s3.amazonaws.com/bearlyhungry/jamba.jpg" height="400" width="600" />
          <a href="/jamba-juice" class="startWith registerLink">
            <span class="startHere">Start here</span>
            <span class="description">Create your own Online Ordering System</span>
          </a>
        </div>
      </div>
      <div class="details">
        <span class="name">Jamba Juice</span>
        
          <a href="/jamba-juice" target="_blank" class="preview">Eat Here</a>
        
      </div>
    </div>
    
    <div class="theme">
      <div class="image">
        <div class="imageWrapper">
            
          <img src="https://s3.amazonaws.com/bearlyhungry/pazzari.png" height="400" width="600" />
          <a href="/chicago-pizza" class="startWith registerLink">
            <span class="startHere">Start here</span>
            <span class="description">Create your own Online Ordering System</span>
          </a>
        </div>
      </div>
      <div class="details">
        <span class="name">Chicago Pazzari</span>
        
          <a href="/chicago-pizza" target="_blank" class="preview">Eat Here</a>
        
      </div>
    </div>
    
    <div class="theme">
      <div class="image">
        <div class="imageWrapper">
            
          <img src="https://s3.amazonaws.com/bearlyhungry/ventus.jpg" height="400" width="600" />
          <a href="/ventus" class="startWith registerLink">
            <span class="startHere">Start here</span>
            <span class="description">Create your own Online Ordering System</span>
          </a>
        </div>
      </div>
      <div class="details">
        <span class="name">Ventus</span>
        
          <a href="/ventus" target="_blank" class="preview">Eat Here</a>
        
      </div>
    </div>
    
    <div class="theme">
      <div class="image">
        <div class="imageWrapper">
            
          <img src="https://s3.amazonaws.com/bearlyhungry/lukes.png" height="400" width="600" />
          <a href="/lukes-layover" class="startWith registerLink">
            <span class="startHere">Start here</span>
            <span class="description">Create your own Online Ordering System</span>
          </a>
        </div>
      </div>
      <div class="details">
        <span class="name">Luke's Layover</span>
        
          <a href="https://bignavigation.allyou.net/" target="_blank" class="preview">Eat Here</a>
        
      </div>
    </div>
    
    <div class="theme">
      <div class="image">
        <div class="imageWrapper">
            
          <img src="https://s3.amazonaws.com/bearlyhungry/kats.png" height="400" width="600" />
          <a href="/#{restaurant}18" class="startWith registerLink">
            <span class="startHere">Start here</span>
            <span class="description">Create your own Online Ordering System</span>
          </a>
        </div>
      </div>
      <div class="details">
        <span class="name">Kat's Hot Cakes</span>
        
          <a href="https://storyboard.allyou.net/" target="_blank" class="preview">Eat Here</a>
        
      </div>
    </div>
    
    <div class="theme">
      <div class="image">
        <div class="imageWrapper">
            
          <img src="https://s3.amazonaws.com/bearlyhungry/nath.png" height="400" width="600" />
          <a href="/#{restaurant}19" class="startWith registerLink">
            <span class="startHere">Start here</span>
            <span class="description">Create your own Online Ordering System</span>
          </a>
        </div>
      </div>
      <div class="details">
        <span class="name">Nathaniel's Nook</span>
        
          <a href="https://storyboardblack.allyou.net/" target="_blank" class="preview">Eat Here</a>
        
      </div>
    </div>
    
    <div class="theme">
      <div class="image">
        <div class="imageWrapper">
            
          <img src="https://s3.amazonaws.com/bearlyhungry/luke.png" height="400" width="600" />
          <a href="/#{restaurant}22" class="startWith registerLink">
            <span class="startHere">Start here</span>
            <span class="description">Create your own Online Ordering System</span>
          </a>
        </div>
      </div>
      <div class="details">
        <span class="name">Luke's Lobster</span>
        
          <a href="/lukes-lobster" target="_blank" class="preview">Eat Here</a>
        
      </div>
    </div>
    
    <div class="theme">
      <div class="image">
        <div class="imageWrapper">
            
          <img src="https://s3.amazonaws.com/bearlyhungry/tacobell.jpg" height="400" width="600" />
          <a href="/#{restaurant}23" class="startWith registerLink">
            <span class="startHere">Start here</span>
            <span class="description">Create your own Online Ordering System</span>
          </a>
        </div>
      </div>
      <div class="details">
        <span class="name">Taco Bell</span>
        
          <a href="/taco-bell" target="_blank" class="preview">Eat Here</a>
        
      </div>
    </div>
    
  </div>
</form>
  </section>

  </section>
  <footer id="footerNavigation">
    <section class="left">
      <h2 class="slogan">Creating your online restaurant<br />has never been that easy! &ndash; <a href="/signup"><u>Web yourself!</u></a></h2>
      <section class="navigation">
        <nav>
          <h3>Products</h3>
          <ul>
            <li><a href="/">Tour</a></li>
            <li><a href="/accounts/login">Login</a></li>
            <li><a href="/accounts/register">Sign up</a></li>
          </ul>
        </nav>
        <nav>
          <h3>Company</h3>
          <ul>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/press">Press</a></li>
            <li><a href="/terms">Terms of service</a></li>
          </ul>
        </nav>
        <nav>
          <h3>Community</h3>
          <ul>
            <li><a href="http://www.facebook.com/pages/Allyou-Web-yourself/168376839868939" target="_blank">Facebook</a></li>
            <li><a href="http://www.twitter.com/#!/AllyouInfo" target="_blank">Twitter</a></li>
            <li><a href="https://plus.google.com/" target="_blank" rel="publisher">Google+</a></li>
          </ul>
        </nav>
      </section>
      <section class="newsletterSubscription">
        <form action="/newsletter" method="POST">
  <div class="inlineButton">
    
<div class="field   " >
   <input id="sign_up" name="email" placeholder="Email" type="text" /> 
</div>
    <input type="submit" value="Sign up" />
  </div>
</form>
      </section>
      <h3 class="copyright">&copy; 2013 GSCHOOL PROJECT ::AKE::NW::LM &ndash; All rights reserved</h3>
    </section>
    <section class="right">
      <nav class="socialMedia">
        <ul>
          <li><a href="http://www.facebook.com" target="_blank" class="facebook">|&nbsp;&nbsp;Facebook</a></li>
          <li><a href="http://www.twitter.com" target="_blank" class="twitter">|&nbsp;&nbsp;Twitter</a></li>
        </ul>
      </nav>
    </section>
  </footer>

  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-20108656-4']);
    _gaq.push(['_setDomainName', '.allyou.net']);
    _gaq.push(['_trackPageview']);
    
    (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
  <script type="text/javascript">
    /* <![CDATA[ */
    var google_conversion_id = 988369751;
    var google_custom_params = window.google_tag_params;
    var google_remarketing_only = true;
    /* ]]> */
  </script>
  <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js"></script>
  <noscript>
    <div style="display:inline;">
      <img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/988369751/?value=0&amp;guid=ON&amp;script=0"/>
    </div>
  </noscript>
</body>
</html>




<h1>BearlyHungry</h1>
<% @restaurants.each do |restaurant| %>
  <%= link_to restaurant.name, restaurant_root_path(restaurant.slug) %>
<% end %>
