<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome <%= @user.full_name %>!  Welcome to the wonderful site of <strong>Bearly Hungry</strong>, the hotspot for online ordering restaurants.</h1>
    <p>
      You have successfully signed up with this email address. 
    </p>
    <p>
      To login to the site, just follow this link: <%= @url %>.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>
