<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>A new restaurant has been submitted! Check your super-admin-dashboard for details</h1>
    <p>
      I dont know what else this email is supposed to have in it,someone is trying to make a restaurant on our site! that's great!
    </p>

  </body>
</html>
