<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello <%= :user_name %>!  Thank you for submitting your request to host your restaurant on <strong>Bearly Hungry</strong>, the hotspot for online ordering restaurants.</h1>
    <p>
      We will respond to your request shortly to let you know if your restaurant has been accepted. 
    </p>
    <p>
      Back to our site. <%= @url %>.
    </p>
    <p>Thanks and have a great day!</p>
  </body>
</html>
