<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello <%= :user_name %>! <strong>Bearly Hungry</strong>, has approved your restaurant.</h1>
    <p>
      I dont know what else this email is supposed to have in it, but you are approved! 
    </p>
    <p>
      Back to our site. <%= @url %>.
    </p>
    <p>Thanks and have a great day!</p>
  </body>
</html>
