<%= link_to "Back to All Items", items_path %>

<div id='items_for_order'>
    <%= render partial: "order_item", collection: @order.order_items %>
</div>

<div id='order_subtotal' >
  <h3>Order Subtotal: <%= number_to_currency(@order.subtotal) %></h3>
</div>
