<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Your order is ready, <%= @user.full_name %>!  Prepare your tummy!</h1>
  
  </body>
</html>
