<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Your order is ready, <%= :user_name %>!  Prepare your tummy!</h1>

    <h2> Your oder number is <%= :order_id %>.
  
  </body>
</html>
