<%= link_to "New Item", new_item_path %>

<div id='items'>
  <% @items.each do |item| %>
    <h2><%= item.title %></h2>
  <ul>
    <li><%= item.description %></li>
    <li><%= number_to_currency(item.price) %></li>
  </ul>
  <% end %>
</div>
