/* Artfully masterminded by ZURB  */

/* --------------------------------------------------
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Page Name 1
:: Page Name 2
*/

body {
  font-size: 62.5%;
  background: #f7f7f7;
  font-family: 'Open Sans', sans-serif;
}


/* -----------------------------------------
  Header
----------------------------------------- */
.row {
  width: 100%;
}
#cities-list ul li{
    display:inline-block;
}

.row .row {
  width: auto !important;
  margin: 0;
}

.table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  thead {
    border-top: solid 1px #ddd;
    tr {
      th {
        text-align: left;
        padding-top: 5px;
        padding-left: 10px;
        font-size: .8em;
        text-transform: uppercase;
        font-weight: bold;
        &:last-child {
          text-align: right;
        }
        padding-bottom: 45px;
      }
    }
  }
  tbody {
    tr {
      background: #fff;
      -webkit-transition: background .35s ease-in-out;
      -moz-transition: background .35s ease-in-out;
      -o-transition: background .35s ease-in-out;
      transition: background .35s ease-in-out;

      &:hover {
        background: #f5f5f5;
        -webkit-transition: background .35s ease-in-out;
        -moz-transition: background .35s ease-in-out;
        -o-transition: background .35s ease-in-out;
        transition: background .35s ease-in-out;
      }
      &:first-child {
        td {
          margin-top: 45px;
        }
      }
    }
    td {
      padding: 25px 10px 20px;
      border-bottom: solid 1px #eee;
      &:first-child {
        padding-right: 50px;
      }
      &:last-child {
        text-align: right;
      }
    }
  }
}


.button {
  border: solid 1px #888;
  background: #96bf48;
  color: #fefefe;
  font-weight: bold;
  text-shadow: 0px 1px 1px #888;
  text-transform: uppercase;
  padding: 8px 15px;
  border-radius: 4px;
  opacity: .9;
  &:hover {
    opacity: 1;
    color: #fff;
  }
}

.admin-header.row {
  width: 100% !important;
  & > .columns {
    padding: 0;
    .top-bar {
      margin-bottom: 0;
    }
  }
}


/* -----------------------------------------
 * Sidebar
----------------------------------------- */
.sidebar.two {
  width: 12%;
  ul {
    margin-top: 20px;
    li {
      list-style-type: none;
      border-bottom: solid 1px #ddd;
      a {
        font-weight: 300;
        color: #444;
        padding: 20px 20px 10px 20px;
        display: block;
        &:hover {
          color: #000;
        }
      }
    }
  }
}
/* -----------------------------------------
 * content
----------------------------------------- */
.content.ten {
  width: 88%;
  background: #ffffff;
  border: solid 1px #eee;
  padding: 30px 30px 50px 30px;
  border-bottom-left-radius: 4px;
  margin-bottom: 20px;
  h1 {
    font-weight: 300;
    font-size: 2.3em;
  }
}

.header-bar.row {
  margin-bottom: 50px;
  overflow: hidden;
  h3 {
    font-weight: 300;
    float: left;
  }
  .add, .cancel {
    margin-top: 10px;
    float: right;
    font-size: .9em;
  }
  .add {
    &:before {
      content: "+ ";
    }
  }
  .cancel {
    background: #ccc;
  }
}

.logo {
  background: image-url('admin-logo.png') top left no-repeat;
  text-indent: -9999px;
  width: 168px;
  height: 32px;
  margin-top: 6px;
  margin-left: 10px;
}

/* -----------------------------------------
   Page Name 2
----------------------------------------- */


