@import url("http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800");
$font: 'Open Sans', sans-serif;

html {
  background: image-url("bg-items2.jpg") no-repeat left center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

a:hover {
  color: #96bf48;
}

a.button {
  color: #fff;
  opacity: .8;
  &:hover {
    opacity: 1;
  }
}


body {
  font-family: $font;
  font-size: 62.5% !important;
  position: relative;
  background: #222;
  background: transparent;
}

.row {
  width: 1000px;
}

.notifications {
  border: solid 1px #ddd;
  padding: 18px 20px;
  text-align: center;
  background: #efefef;
  border-radius: 2px;
  span {
    font-size: 1.2em;
  }
  .notification-close {
    border: solid 1px white;
    padding: 5px 10px;
    border-radius: 50em;
    font-size: 1em;
    display: inline-block;
    float: right;
  }
}

.notifications.success {
  background: #92ad26;
  color: #fff;
}

.notifications.error {
  background: red;
  color: #fff;
}

.reveal-modal {
  z-index: 200;
}

.wrapper {
  //background: #efefef;
  //margin-left: -25%;
  position: relative;
  z-index: 999;
  width: 100%;
    -webkit-transition: margin-left .45s ease-in-out;
    -moz-transition: margin-left .45s ease-in-out;
    -o-transition: margin-left .45s ease-in-out;
    transition: margin-left .45s ease-in-out;
  &.slide {
    margin-left: -35%;
    -webkit-transition: margin-left .45s ease-in-out;
    -moz-transition: margin-left .45s ease-in-out;
    -o-transition: margin-left .45s ease-in-out;
    transition: margin-left .45s ease-in-out;
  }
}

h1,h2,h3,h4,h5 {
  font-family: $font;
}

.block {
  display: block;
}

.button {
  background: #222;
  color: #fafafa;
  font-weight: 500;
  font-size: .9em;
  padding: 8px 12px;
  border-radius: 2px;
}

.main-header.sticky-header {
  text-align: center;
  position: fixed;
  width: 100%;
  z-index: 9999;
  height: 60px;
  top: 0%;
  opacity: 1 !important;

  &.default {
    left: 0;
    -webkit-transition: left .45s ease-in-out;
    -moz-transition: left .45s ease-in-out;
    -o-transition: left .45s ease-in-out;
    transition: left .45s ease-in-out;
  }


  -webkit-transition: opacity .45s ease-in-out;
  -moz-transition: opacity .45s ease-in-out;
  -o-transition: opacity .45s ease-in-out;
  transition: opacity .45s ease-in-out;
  .logo {
    margin-top: 20px;
  }
  &.left-indent {
    left: -35%;
    -webkit-transition: left .45s ease-in-out;
    -moz-transition: left .45s ease-in-out;
    -o-transition: left .45s ease-in-out;
    transition: left .45s ease-in-out;
  }
}

.main-header.sticky-header > div {
  background: #222;
}

.main-header {
  //background: black;
  .header-bg {
    display: none;
    width: 100%;
    position: fixed;
    top: -40px;
    z-index: 0;
    left: 0%;
    -webkit-transition: left .45s ease-in-out;
    -moz-transition: left .45s ease-in-out;
    -o-transition: left .45s ease-in-out;
    transition: left .45s ease-in-out;
    &.bg-slide {
      left: -35%;
      -webkit-transition: left .45s ease-in-out;
      -moz-transition: left .45s ease-in-out;
      -o-transition: left .45s ease-in-out;
      transition: left .45s ease-in-out;
    }
  }
  .logo {
    margin-top: 40px;
  }
  height: 200px;
  &.hidden-header {
    opacity: 0;
    -webkit-transition: opacity .45s ease-in-out;
    -moz-transition: opacity .45s ease-in-out;
    -o-transition: opacity .45s ease-in-out;
    transition: opacity .45s ease-in-out;
  }
}

.main-nav {
  margin-top: 30px;
  li {
    list-style-type: none;
    display: inline-block;
    a {
      padding: 10px;
      color: #fff;
      font-weight: 800;
      text-transform: uppercase;
      font-size: 1.1em;
    }
  }
  #nav-order {
    padding: 10px;
    color: #fff;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 1.1em;
  }
}

.content {
  margin-top: 30px;
  position: relative;
  z-index: 100;
  background: #fefefe;
  border: solid 1px #ccc;
  padding-bottom: 40px;
  border-radius: 2px;
  &.sticky-header {
    margin-top: 230px;
  }
}

.menus-nav {
  margin-top: 20px;
  text-align: right;
  li {
    list-style-type: none;
    font-style: italic;
    font-family: "Georgia", serif;
    a {
      font-size: 1.4em;
      color: #222;
      padding: 10px 0;
      display: block;
      padding-right: 50px;
      &:hover {
        cursor: pointer;
      }
    }
  }
}

.item:last-child {
  float: left !important;
}

.item-info {
  min-height: 460px;
  float: left;
  margin-bottom: 10px;
  position: relative;
  .image-price {
    position: relative;
    img {
      width: 100%;
      background: #fff;
      padding: 2px;
      border: solid 1px #ddd;
      border-radius: 50em;
    }
    span {
      background: #222;
      padding: 7px 8px;
      color: #fefefe;
      display: block;
      position: absolute;
      z-index: 100;
      right: 0;
      bottom: 20px;
      font-size: 1.3em;
    }
  }
  .title {
    font-weight: 500;
    margin-top: 5px;
    font-size: 1.2em;
    line-height: 1.3;
  }
  .description p {
    margin-top: -3px;
    font-size: .9em;
  }
  .quantity-order {
    div {
      display: inline-block;
    }
    text-align: center;
    position: absolute;
    bottom: 35px;
    width: 85%;
    overflow: hidden;
    .quantity {
      float: left;
      width: 30px;
      margin-right: 10px;
    }
    .add-item {
      float: left;
      font-size: 1em;
    }
  }
}

.order.row {
  padding: 10px;
  color: #fefefe;
  overflow: hidden;
  background: #222;
  position: fixed;
  width: 35% !important;
  min-width: 0 !important;
  z-index: 10;
  top: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: opacity .45s ease-in-out;
  -moz-transition: opacity .45s ease-in-out;
  -o-transition: opacity .45s ease-in-out;
  transition: opacity .45s ease-in-out;
  &.visible {
    opacity: 1;
    -webkit-transition: opacity .45s ease-in-out;
    -moz-transition: opacity .45s ease-in-out;
    -o-transition: opacity .45s ease-in-out;
    transition: opacity .45s ease-in-out;
  }
  .order-title-cancel {
    overflow: hidden;
    margin-bottom: -15px;
    .top-label {
      float: left;
    }
    .cancel-order {
      color: #aaa;
      margin-top: 20px;
      float: right;
      &:hover {
        color: #eee;
      }
    }
  }
  .my-order {
    text-align: left;
    margin-bottom: 50px;
    .label {
      float: left;
    }
    .value {
      float: right;
    }
    .modify {
      clear: both;
    }
    .no-order {
      color: #fefefe;
      font-size: 1.2em;
      font-weight: 300;
      padding: 10px;
    }
  }
  .checkout {
    margin-top: 50px;
    text-align: center;
    .order-checkout {
      border: solid 1px #eee;
      background: #fafafa;
      color: #222;
      padding: 10px 50px;
      border-radius: 20px;
      opacity: .9;
      -webkit-transition: opacity .75s ease-in-out;
      -moz-transition: opacity .75s ease-in-out;
      -o-transition: opacity .75s ease-in-out;
      transition: opacity .75s ease-in-out;
      &:hover {
        opacity: 1;
        -webkit-transition: opacity .75s ease-in-out;
        -moz-transition: opacity .75s ease-in-out;
        -o-transition: opacity .75s ease-in-out;
        transition: opacity .75s ease-in-out;
      }
    }
  }
}

.top-label {
  color: #fefefe;
  font-weight: 300;
  text-transform: uppercase;
}

#nav-order {
  cursor: pointer;
}

.header {
  overflow: hidden;
}

.logo {
  float: left;
}

.main-nav {
  float: right;
}

.menu-title {
  margin-bottom: 20px;
  text-align: center;
  h2 {
    text-transform: uppercase;
    font-weight: 300;
    font-size: 3.5em;
  }
  h3 {
    font-family: "Georgia", serif;
    font-style: italic;
    font-weight: 300;
    font-size: 1.3em;
    text-transform: lowercase;
  }
}

.order-item {
  list-style-type: none;
  padding: 5px 0;
  border-bottom: dotted 1px #888;
  overflow: hidden;
  color: #fefefe;
  .order-item-info {
    .order-item-title-total {
      overflow: hidden;
      .order-item-title {
        font-size: 1.4em;
        float: left;
        width: 75%;
      }
      .order-item-total {
        float: right;
        width: 25%;
        text-align: right;
        font-size: 1.2em;
        font-style: italic;
      }
    }
    .item-quantity-modify {
      margin-top: -5px;
      color: #aaa;
      .label {
        padding-left: 5px;
        font-size: 1.1em;
      }
      .modify {
        padding-left: 5px;
        font-size: .9em;
        a {
          opacity: .8;
          margin-right: 5px;
          color: #96bf48;
          &:hover {
            opacity: 1;
          }
        }
      }
    }
  }
}
.order-total {
  overflow: hidden;
  .label {
    font-weight: 300;
    font-size: 2em;
  }
  .value {
    font-size: 1.8em;
  }
}

