<div class="row">
  <div id='login' class="six columns">
      <%= render partial: "review_login" %>
  </div>
  <div id = "order-info" class="six columns">
    <h2>Review Your Order:</h2>

    <h3>Your Order ID: <%= current_order.id %></h3>

    <h3>Items:</h3>
    <%= render partial: "orders/order_item", collection: current_order.order_items %>

    <hr>
    <h3>Order Total: <em><%= number_to_currency(current_order.subtotal) %></h3>
    
  </div>
</div>
