<li><%= form_tag charges_path do %>
      <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"data-key="<%= Rails.configuration.stripe[:publishable_key] %>"data-description="Order Number: <%= @order_number %>"data-amount="<%= @amount*100 %>"></script>
<% end %></li>

Your order has been submitted 
