<% if flash[:notice] %>
  <div class="notifications success row">
    <span><%= flash[:notice] %></span>
  </div>
<% end %>
<% if flash[:error] %>
  <div class="notifications error row">
    <% flash[:error].each do |error| %>
      <span><%= error %></span>
    <% end %>
  </div>
<% end %>
