<div class="order row">
  <div class="sidebar twelve columns">

    <h4 class="top-label">My Order</h4>
    <div class="row">
      <div class="my-order twelve columns">
        <ul class="my-order-items">

          <li class="order-item">
            <div class="order-item-info">
              <span class="item-title block">
                Spring Rolls with Shrimp &amp; Pork
              </span>
              <div class="item-quantity-price">
                <span class="label">
                  Quantity
                </span>
                <span class="value">
                  2 x $2.99
                </span>
              </div>
              <div class="modify">
                <a href="#">Change</a>
                <a href="#">Remove</a>
              </div>
            </div>
            <span class="order-item-price">
              $5.99
            </span>
          </li>

        </ul>
        <div class="order-total">
          <span class="label">Total</span>
          <span class="value">$45.95</span>
        </div>
      </div>

      <div class="my-promotions twelve columns">
        <h4 class="top-label">Promotions</h4>
        <p>Yay for fun promotions!</p>
        <ul class="promotion">
          <li>20% off all purchases</li>
        </ul>
      </div><!-- //my-promotions -->

    </div>
  </div><!-- //sidebar -->
</div><!-- //order -->
